.bread-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #bbc2d0;
  background: transparent;
}
.bread-active {
  color: #00c48c;
  background: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
