.sidebar-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 30px;
  padding-right: 47px;
  gap: 16px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: transparent;
  transition: all 0.4s linear;
}

.sidebar-link span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #fff;
}
.sidebar-link:hover {
  background: #fff;
}
span {
  transition: all 0.4s linear;
}
.sidebar-link:hover span {
  color: #3d639d;
}
svg {
  transition: all 0.4s linear;
}
.sidebar-link:hover svg path {
  fill: #3d639d;
}
.active {
  background: #fff;
}
.active svg path {
  fill: #3d639d;
}
.active span {
  color: #3d639d;
}
