.tab-btn {
  padding: 12px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: #00c48c;
  width: 100%;
  transition: all 0.4s linear;
}
.tab-btn:hover {
  background: #00c48c;
  color: #fff;
}
.active-btn {
  background: #00c48c;
  color: #fff;
}
.tab-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #262728;
  margin-top: 8px;
  text-align: center;
  display: none;
  transition: all 0.4s linear;
  transform: scale(0);
}
.active-content {
  transform: scale(1);
  display: block;
}

.check-btn {
  width: 24px;
  height: 24px;
  border: 1px solid #bbc2d0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.active-check {
  background: #00c48c;
  border: none;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #bbc2d0;
}

.swiper-pagination-bullet-active {
  background-color: #3d639d !important;
}
